<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{/layout/layout.html}"
>
  <head>
    <title>MEMBER SIGN UP</title>
  </head>
  <body>
    <div class="container" id="contents" layout:fragment="contents">
      <h2>SIGN UP</h2>
      <div style="z-index: 99">
        <form
          action="/member/join"
          method="post"
          th:object="${memberDto}"
          enctype="multipart/form-data"
        >
          <input type="text" placeholder="ID" name="userId" /><br />
          <input type="password" placeholder="Password" name="userPw" /><br />
          <input type="text" placeholder="Name" name="userName" /><br />
          <input type="text" placeholder="Nickname" name="userNickname" /><br />
          <input
            type="email"
            placeholder="name@example.com"
            name="email"
          /><br />
          <input type="text" placeholder="address" name="address" /><br />
          <input type="file" placeholder="selfie" name="originalFile" /><br />
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </form>
      </div>
      <script></script>
    </div>
  </body>
</html>
